@model Projekti_TI_2_Posta.Models.Porosia.GetPorosiaModel

@{
    Layout = null;
}

<html>
<head>
    <title>CineLabs - Delete Category</title>
    <link rel="icon" href="https://i.imgur.com/jBR7KVA.png">
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <script type="text/javascript" src="~/js/dashboard.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
   
    <section class="page-content">


        <div class="container-fluid">

            <form asp-action="DeletePorosiByIdPost" asp-controller="Porosia" method="post">
                <input asp-for="ID" hidden />
                <div class="book-container">
                    <div class="hehe">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete</h4>
                                </div>

                                <div class="modal-body">
                                    Are you sure you want to delete this record?
                                </div>

                                <div class="modal-footer">
                                    <div><a class="btn btn-secondary" asp-controller="Porosia" asp-action="GetAllPorosi">No</a></div>
                                    <div><button type="submit" class="btn btn-danger">Yes</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
